[submodule ".registry"]
	path = .registry
	url = https://github.com/rkrug/rkrug.r-universe.dev
	branch = HEAD
[submodule "openalexPro"]
	path = openalexPro
	url = https://github.com/rkrug/openalexPro
	branch = main
[submodule "plantuml"]
	path = plantuml
	url = https://github.com/rkrug/plantuml
	branch = master
