[submodule ".registry"]
	path = .registry
	url = https://github.com/rkrug/rkrug.r-universe.dev
	branch = HEAD
[submodule "kagiPro"]
	path = kagiPro
	url = https://github.com/rkrug/kagiPro
	branch = main
[submodule "openalexPro"]
	path = openalexPro
	url = https://github.com/rkrug/openalexPro
	branch = main
[submodule "openalexSnowball"]
	path = openalexSnowball
	url = https://github.com/rkrug/openalexSnowball
	branch = main
[submodule "openalexVectorComp"]
	path = openalexVectorComp
	url = https://github.com/rkrug/openalexVectorComp
	branch = main
[submodule "plantuml"]
	path = plantuml
	url = https://github.com/rkrug/plantuml
	branch = master
